{% extends 'base.html.twig' %}

{% block title %}ExpenseEntry index{% endblock %}

{% block body %}
    <h1>ExpenseEntry index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Value</th>
                <th>Expense_date</th>
                <th>Expense_entry</th>
                <th>Expense</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expense_entry in expense_entries %}
            <tr>
                <td>{{ expense_entry.value }}</td>
                <td>{{ expense_entry.expenseDate ? expense_entry.expenseDate|date('Y-m-d') : '' }}</td>
                <td>{{ expense_entry.expenseEntry ? expense_entry.expenseEntry|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ expense_entry.expense }}</td>
                <td>
                    <a href="{{ path('expense_entry_show', {'id': expense_entry.id}) }}">show</a>
                    <a href="{{ path('expense_entry_edit', {'id': expense_entry.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('expense_entry_new') }}">Create new</a>
{% endblock %}
